<?php
/**
 * Backward-compatibility functions for when theme requirements are not met, this file must be parseable by PHP 5.2.
 *
 * @package <%= projectPackageName %><% if(projectAuthor.full !== '') { %>
 * @author  "<%= projectAuthor.full %>"<% } if(projectLicense !== undefined) { %>
 * @license <%= projectLicense.type %> <%= projectLicense.url %><% } %>
 * @since   <%= projectVersion %>
 */

use function add_action;
use function esc_html;
use function get_bloginfo;
use function is_admin;
use function __;

if ( defined( 'ABSPATH' ) === false ) {
	exit;
}

/**
 * Gets the message to warn the user about the theme requirements not being met.
 *
 * @return string Message to show to the user.
 */
function get_requirements_message() {
	$incorrect_wp_version  = version_compare( MIN_WP_VERSION, get_bloginfo('version'), '>=' );
	$incorrect_php_version = version_compare( MIN_PHP_VERSION, phpversion(), '>=' );

	if ( $incorrect_wp_version && $incorrect_php_version ) {
		/* translators: 1: theme name, 2: required WP version number, 3: required PHP version number, 4: available WP version number, 5: available PHP version number */
		return sprintf( __( 'The theme "%1$s" requires at least WordPress version %2$s and PHP version %3$s. You are running versions %4$s and %5$s respectively. Please update and try again.', '<%= projectTextDomain %>' ), '<%= projectName %>', MIN_WP_VERSION, MIN_PHP_VERSION, get_bloginfo('version'), phpversion() );
	}

	if ( $incorrect_wp_version ) {
		/* translators: 1: theme name, 2: required WP version number, 3: available WP version number */
		return sprintf( __( 'The theme "%1$s" requires at least WordPress version %2$s. You are running version %3$s. Please update and try again.', '<%= projectTextDomain %>' ), '<%= projectName %>', MIN_WP_VERSION, get_bloginfo('version') );
	}

	if ( $incorrect_php_version ) {
		/* translators: 1: theme name, 2: required WP version number, 3: available WP version number */
		return sprintf( __( 'The theme "%1$s" requires at least PHP version %2$s. You are running version %3$s. Please update and try again.', '<%= projectTextDomain %>' ), '<%= projectName %>', MIN_PHP_VERSION, phpversion() );
	}

	return '';
}

/**
 * Render theme error message.
 *
 * @param array $options The error message body.
 */
function render_compatibility_error( $options = array() ) {
	$message = esc_html( get_requirements_message() );
	$heading = __( 'Compatibility error', '<%= projectTextDomain %>' );
	$title   = $heading;
	<%= projectType %>_error($message, $heading, $title, $options);
}

/**
 * Prevents switching to the theme when requirements are not met, falls back to the default theme.
 */
function switch_theme() {
	switch_theme( WP_DEFAULT_THEME );
	unset( $_GET['activated'] );
	add_action( 'admin_notices', 'upgrade_notice' );
}
add_action( 'after_switch_theme', 'switch_theme' );

/**
 * Adds a message for unsuccessful theme switch.
 *
 * Prints an update nag after an unsuccessful attempt to switch to the theme
 * when requirements are not met.
 */
function upgrade_notice() {
	printf( '<div class="error"><p>%s</p></div>', esc_html( get_requirements_message() ) );
}

/**
 * Prevents the Customizer / Front-end from being loaded when requirements are not met.
 */
function customize() {
	$options = array( 'back_link' => true );
	render_compatibility_error( $options );
}
add_action( 'load-customize.php', 'customize' );

/**
 * Prevents the Theme Preview from being loaded when requirements are not met.
 */
function preview() {
	if ( isset( $_GET['preview'] ) ) {
		render_compatibility_error();
	}
}
add_action( 'template_redirect', 'preview' );

/**
 * Deactivate current theme when requirements are not met, falls back to the default theme.
 */
function init_theme() {

	if ( is_admin() ) {
		$options = array( 'back_link' => true );
		switch_theme();
		render_compatibility_error( $options );
	} else {
		$title   = __( 'Compatibility error', '<%= projectTextDomain %>' );
		$message = __( 'There is a compatibility issue which is preventing this page from rendering properly.', '<%= projectTextDomain %>' );
		<%= projectType %>_error( $message, $title );
	}
}
add_action( 'init', 'init_theme' );
