<?php
/**
 * Functions and definitions, this file must be parseable by PHP 5.2.
 *
 * @package <%= projectPackageName %><% if(projectAuthor.full !== '') { %>
 * @author  "<%- projectAuthor.full %>"<% } if(projectLicense !== undefined) { %>
 * @license <%= projectLicense.type %><% } %>
 * @link    https://developer.wordpress.org/themes/basics/theme-functions/
 * @since   <%= projectVersion %>
 */

// Define theme wide control variables.
define( 'MIN_PHP_VERSION', '<%= projectMinPhpVersion %>' );
define( 'MIN_WP_VERSION', '<%= projectMinWpVersion %>' );

// Define theme wide paths.
define( 'ROOT_URL', get_template_directory_uri() );

// Disable theme editor in admin.
define( 'DISALLOW_FILE_EDIT', true );

// Path to autoloader.
$composer = get_template_directory() . DIRECTORY_SEPARATOR . 'vendor' . DIRECTORY_SEPARATOR . 'autoload.php';

// Array of filenames to include in your theme.
$required_files = ['shims', 'helpers', 'setup', 'filters'];

if ( function_exists( '<%= projectPrefix %>_theme_error' ) === false ) {
	/**
	 * Helper function for prettying up errors.
	 *
	 * @param string $message The error message body.
	 * @param string $heading The error message heading.
	 * @param string $title The page title.
	 * @param array  $options Optional arguments array.
	 */
	function <%= projectPrefix %>_theme_error( $message, $heading = '', $title = '', $options = array() ) {
		$title   = $title ?: __( 'theme error'<% if(i18n !== false) { %>, '<%= projectTextDomain %>'<% } %> );
		$heading = ( $heading ) ? $heading : $title;
		$message = "<h1>{$heading}</h1><br><br>{$message}";
		wp_die( $message, $title, $options );
	};
}

if ( function_exists( '<%= projectPrefix %>_include_theme_file' ) === false ) {
	/**
	 * Helper function for including theme files.
	 *
	 * @param string $file The name of the file to include.
	 */
	function <%= projectPrefix %>_include_theme_file( string $file ) {
		$file = get_template_directory() . DIRECTORY_SEPARATOR . 'inc' . DIRECTORY_SEPARATOR . "{$file}.php";
		if ( file_exists( $file ) === false ) {
			<%= projectPrefix %>_theme_error(
				"<code>{$file}</code><br><br>",
				__( 'File not found.'<% if(i18n !== false) { %>, '<%= projectTextDomain %>'<% } %> )
			);
		}
		include $file;
	};
}

// Theme compatibility check, bail early if requirements are not met.
if ( version_compare( MIN_PHP_VERSION, phpversion(), '>=' ) === true || version_compare( MIN_WP_VERSION, get_bloginfo( 'version' ), '>=' ) === true ) {
	require get_template_directory() . DIRECTORY_SEPARATOR . 'backwards-compatibility.php';
	return;
}

// Ensure composer autoload.php exists.
if ( file_exists( $composer ) === false ) {
	<%= projectPrefix %>_theme_error(
		sprintf(
			"<code>{$composer}</code><br><br>%1s <code>%2s</code> %3s",
			__( 'Please run the'<% if(i18n !== false) { %>, '<%= projectTextDomain %>'<% } %> ),
			__( 'composer install'<% if(i18n !== false) { %>, '<%= projectTextDomain %>'<% } %> ),
			__( 'command from the <%= projectType %> root directory.'<% if(i18n !== false) { %>, '<%= projectTextDomain %>'<% } %> )
		),
		__( 'Autoloader not found.'<% if(i18n !== false) { %>, '<%= projectTextDomain %>'<% } %> )
	);
} else {
	include_once $composer;
	array_map( '<%= projectPrefix %>_include_theme_file', $required_files );
}
