<?php
/**
 * The template for displaying search results pages.
 *
 * @package <%= projectPackageName %><% if(projectAuthor.full !== '') { %>
 * @author  "<%= projectAuthor.full %>"<% } if(projectLicense !== undefined) { %>
 * @license <%= projectLicense.type %> <%= projectLicense.url %><% } %>
 * @link    https://developer.wordpress.org/themes/basics/template-hierarchy/#search-result
 * @since   <%= projectVersion %>
 */

namespace <%= projectNamespace %>;

use function get_footer;
use function get_header;
use function get_search_query;

get_header(); ?>

	<section id="search">
		<h1><?= sprintf("%1s {$wp_query->found_posts} %2s", __( 'Search Results for', '<%= projectTextDomain %>' ), get_search_query() ); ?></h1>
	</section>

<?php get_footer();
